<section class="support">
  <div class="container">
    <div class="support-layout">
      <div class="support-layout-scnd">
    <div class="support-content">
      <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
      <p class="support-text">Ми тут, щоб допомогти!</p>
    </div>
    <form class="support-form">
      <div class="support-input-content">
        <label for="name" class="support-text-scnd">Ім'я</label>
        <input
          class="support-input"
          type="text"
          id="name"
          name="name"
          minlength="5"
          maxlength="64"
          required
          placeholder="Іван"
        />
        <p class="error-text">Error text</p>
      </div>
      <div class="support-input-content">
        <label for="email" class="support-text-scnd">Електронна пошта</label>
        <input
          class="support-input"
          type="email"
          id="email"
          name="email"
          placeholder="hello@ecotote.com"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
        />
        <p class="error-text">Error text</p>
      </div>
      <div class="support-input-content">
        <label for="message" class="support-text-scnd">Повідомлення</label>
        <textarea
          class="support-input textarea"
          id="message"
          name="message"
          maxlength="500"
          placeholder="Введіть своє повідомлення..."
        ></textarea>
      </div>
      <button class="support-btn" type="submit">Надіслати</button>
      
    </form>
    </div>
    <div class="img-wrapper">
        <img
          class="img"
          src="../img/support/support-mob.webp"
          srcset="
            ../img/support/support-mob.webp    1x,
            ../img/support/support-mob-2x.webp 2x
          "
          sizes="(max-width: 767px) 288px, 428px"
          alt="Підтримка"
        />
        <img
          class="img"
          src="../img/support/support-tab.webp"
          srcset="
            ../img/support/support-tab.webp    1x,
            ../img/support/support-tab-2x.webp 2x
          "
          sizes="(max-width: 1439px) 704px, 428px"
          alt="Підтримка"
        />
        <img
          class="img"
          src="../img/support/support.webp"
          srcset="
            ../img/support/support.webp    1x,
            ../img/support/support-2x.webp 2x
          "
          sizes="(min-width: 1440px) 644px, 768px"
          alt="Підтримка"
        />
    </div>
    </div>
  </div>
</section>
