.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.support-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.support-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
}

.support-text {
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  font-family: 'Fira Sans', sans-serif;
}

.support-form {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.support-input-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.support-text-scnd {
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.support-input {
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 288px;
  height: 42px;
  background-color: rgba(3, 10, 6, 0.05);
  outline: none;
  position: relative;
}

.support-input:not(:placeholder-shown):invalid {
  border-color: #d64040;
  color: #d64040;
}

.support-input:not(:placeholder-shown):invalid::placeholder {
  color: #d64040;
}

.error-text {
  display: none;
  font-size: 12px;
  color: #d64040;
}

.support-input:not(:placeholder-shown):invalid ~ .error-text {
  display: block;
}

.textarea {
  width: 288px;
  height: 180px;
}

.support-btn {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding-block: 12px;
  padding-inline: 24px;
  width: 288px;
  height: 50px;
  background-color: #030a06;
  color: #fff;
  cursor: pointer;
  margin-bottom: 24px;
}

.support-btn:active {
  background-color: #113916;
  border-color: #113916;
  color: #fff;
  opacity: 0.6;
}

.support-btn:disabled {
  background-color: #030a06;
  border-color: #030a06;
  color: #fff;
  opacity: 0.2;
  cursor: not-allowed;
}

.img-wrapper {
  border-radius: 40px;
  width: 288px;
  height: 428px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --------------- TABLET ---------------- */

@media only screen and (min-width: 768px) {
  .support-title {
    max-width: 468px;
  }

  .support-input {
    width: 704px;
  }

  .support-btn {
    width: 249px;
  }

  .img-wrapper {
    width: 704px;
    height: 428px;
  }
}

/* --------------- DESCTOP ---------------- */

@media only screen and (min-width: 1440px) {
  .support-layout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1344px;
  }

  .support-form {
    flex: 1;
    max-width: 644px;
  }

  .img-wrapper {
    flex-shrink: 0;
    width: 644px;
    height: 768px;
  }

  .support-title {
    font-size: 48px;
    max-width: 644px;
  }

  .support-input {
    width: 644px;
  }

  .support-input:hover::placeholder {
    color: #030a06;
  }

  .support-input:focus::placeholder {
    color: transparent;
  }

  .support-btn {
    width: 198px;
  }

  .support-btn:hover,
  .support-btn:focus {
    opacity: 0.5;
  }
}
